<section class="main-content">
  <locale-toggler class="locales"></locale-toggler>
  <div class="contact-wrapper">
    <div class="image-wrapper">
      <img [src]="imagesBasicUrl +'about.jpg'" [alt]="'ABOUT_IMAGE_ALT' | transloco " />
    </div>
    <div class="form-wrapper">
      <h3>{{ 'ABOUT.TITLE' | transloco }}</h3>
      <p> {{ 'ABOUT.1_PAR_TEXT' | transloco }}</p>
      <h3>{{ 'ABOUT_PROJECT.TITLE' | transloco }}</h3>
      <p>{{ 'ABOUT_PROJECT.2_PAR_TEXT' | transloco }}</p>
      <ul> (this list is no sense to translate)
        <li>Combination of Signals and rxjs observables/operators</li>
        <li>Nested router-outlets and auxiliary routes</li>
        <li>Router guards</li>
        <li>Reactive forms with validation</li>
        <li>Dynamic templates with 'ng-content' as well as shared templates</li>
        <li>Pipes: async, currency, keyvalue</li>
        <li>Angular Material elements</li>
        <li>Internationalization (partial, 3 languages) with runtime manual switching</li>
        <li>A lot of one-way, two-ways bindings, template interpolations so on</li>
      </ul>
    </div>
  </div>
</section>
