<section class="main-content">
  <div class="contact-wrapper">
    <div class="image-wrapper">
      <img [src]="imagesBasicUrl +'about.jpg'" alt="" />
    </div>
    <div class="form-wrapper">

      <h3>About the "Wooden Age"</h3>
      <p>
        Here you can see some stuff, maden in the amateur workshop during 2022-2023. It's not bad, but not awesome.
        So-so, I can say. Normal, even with some fresh ideas and decor.</p>
      <h3>About the Angular 16 project</h3>
      <p>
        It's quite simple store (the design and styling were not the keypoints, as you see), but still includes basic Angular
        concepts, as well as new-versions tricks, in
        particular:</p>
      <ul>
        <li>Combination of Signals and rxjs observables/operators</li>
        <li>Nested router-outlets and auxiliary routes</li>
        <li>Router guards</li>
        <li>Reactive forms with validation</li>
        <li>Dynamic templates with 'ng-content' as well as shared templates</li>
        <li>Pipes: async, currency, keyvalue</li>
        <li>Angular Material elements</li>
        <li>A lot of one-way, two-ways bindings, template interpolations so on</li>
      </ul>
    </div>
  </div>
</section>
