<section class="main-content">
  <div class="category-wrapper">
    <div class="side-nav-wrapper">
      <h3>{{currentCategory$ | async}}</h3>
      <mat-slide-toggle 
        style="margin: 0 30px 15px;"
        [(ngModel)]="customizeMode"
        [matTooltip]="(isLoggedIn$ | async) ? '' : 'Customizing is available for logged users'"
        [disabled]="!(isLoggedIn$ | async)">{{customizeMode ? 'Customize Pieces' : 'View Details Mode'}}
      </mat-slide-toggle>    
      <app-side-menu [customize]="customizeMode"></app-side-menu>
    </div>
    <div class="detail-wrapper">
      <router-outlet/>
    </div>
  </div>
</section>
