<section class="main-content">
  <div class="category-wrapper">
    <div class="side-nav-wrapper">
      <mat-accordion class="side-nav-wrapper">
        <h3>{{currentCategory$ | async}}</h3>
        <mat-expansion-panel hideToggle="false" [disabled]="!(isLoggedIn$ | async)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Customize Pieces
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-side-menu [customize]="true"
          ></app-side-menu>
        </mat-expansion-panel>
      </mat-accordion>
      <app-side-menu></app-side-menu>
    </div>
    <div class="detail-wrapper">
      <router-outlet/>
    </div>
  </div>
</section>
